
.herosection{
    height: 400px ;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(./image/long\ cannon\ and\ haley.jpg)
}
.herotext{
    background: rgba(255, 255, 255, 0.149);
}

h1{
    text-shadow:1px 1px;

}
p{
    text-shadow: 1px 1px;
}

@media only screen and (min-width: 1245px){.herosection
   {
    height: 600px;
    width: 100%;
   }
}
    



/* rgb(255,194,189) */
/* rgb(255,137,57) */
/* rgb(255,106,42) */